.header-style{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}